.dear_activity {
	box-shadow: 0px 0px 0.4rem rgba(0, 0, 0, 0.5);
	border-radius: 25%;
	margin: 5px;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.dear_done {
	background-color: #00ab5f;
}

.dear_today {
	-webkit-animation: today_blink 2s infinite; /* Safari 4+ */
	-moz-animation: today_blink 2s infinite; /* Fx 5+ */
	-o-animation: today_blink 2s infinite; /* Opera 12+ */
	animation: today_blink 2s infinite; /* IE 10+, Fx 29+ */
}

@keyframes today_blink {
	0%,
	100% {
		background-color: #323638;
	}
	50% {
		background-color: #00ab5f;
	}
}

.dear_delay {
	-webkit-animation: delay_blink 1s infinite; /* Safari 4+ */
	-moz-animation: delay_blink 1s infinite; /* Fx 5+ */
	-o-animation: delay_blink 1s infinite; /* Opera 12+ */
	animation: delay_blink 1s infinite; /* IE 10+, Fx 29+ */
}

@keyframes delay_blink {
	0%,
	100% {
		background-color: #323638;
	}
	50% {
		background-color: #d32f2f;
	}
}

.dear_activity {
	position: relative;
}

.dear_activity::after {
	content: attr(data-tooltip); /* Display the tooltip text */
	position: absolute;
	bottom: 100%; /* Change 'top' to 'bottom' */
	left: 50%;
	transform: translateX(-50%);
	background-color: rgb(48, 48, 48);
	color: #fff;
	padding: 2px 10px;
	border-radius: 4px;
	font-size: 18px;
	white-space: nowrap;
	visibility: hidden;
	opacity: 0;
	transition:
		opacity 1s,
		visibility 0.3s;
}

.dear_activity:hover::after {
	visibility: visible;
	opacity: 1;
}

.gridDays {
	display: grid;
	grid-template-columns: repeat(21, auto);
}
